body {
    background-color: rgb(220, 220, 255);
}
.navbar-brand {
    font-size: 24px;
    color: aliceblue;
    font-weight: 600;
}

.navbar {
    background-color: rgb(40, 40, 100);
}

.nav-item {
    padding-right: 10px;
    padding-left: 10px;
}

.nav-link {
    font-size: 17px;
    color: aliceblue;
    font-weight: 800;
}

.nav-link.active, .nav-link:hover, .navbar-brand:hover {
    color:rgb(95, 109, 109);
    font-weight: 900;
}

#graficos {
    background-color:cornflowerblue;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.graph {
    padding-top: 10px;
    padding-bottom: 30px;
}

.form-controler-panel {
    padding:  20px 20px 20px 20px;
}