:root {
    --pallet_A_color_1: #0c356a;
    --pallet_A_color_2: #0174be;
    --pallet_A_color_3: #ffc436;
    --pallet_A_color_4: #fff0ce;
    --pallet_B_color_1: #f0f0f0;
    --pallet_B_color_2: #213555;
    --pallet_B_color_3: #4f709c;
    --pallet_B_color_4: #e5d283;
}
@keyframes smooth {
    0% {
        opacity: 0;
        height: 0;
    }

    100% {
        opacity: 1;
        height: auto;
    }
}

body {
    background-color: var(--pallet_B_color_1);
}
#root {
    padding: 0 0 0;
}
.navbar-brand {
    font-size: 24px;
    color: white;
    font-weight: 600;
}

.navbar {
    background-color: var(--pallet_A_color_1);
}

.nav-item {
    padding-right: 10px;
    padding-left: 10px;
}

.nav-link {
    font-size: 17px;
    color: aliceblue;
    font-weight: 800;
}

.nav-link.active,
.nav-link:hover,
.navbar-brand:hover {
    color: rgb(95, 109, 109);
    font-weight: 900;
}

#graficos {
    background-color: cornflowerblue;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.graph {
    padding-top: 10px;
    padding-bottom: 30px;
}

.form-controller-panel {
    padding: 20px 20px 20px 20px;
}

.card-header {
    background-color: var(--pallet_A_color_1);
}

.card-body {
    background-color: white;
}

.loading {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px 20px 20px 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.reload-button {
    margin-top: 20px;
}
.cpu-options {
    /* color: white; */
    /* background-color: var(--pallet_A_color_1); */
    animation: smooth 1s;
}
/* .cpu-options select {
    background-color: var(--pallet_A_color_2);
} */
.cpu-options option:hover {
    background-color: var(--pallet_A_color_4);
}
.transfer-options {
    animation: smooth 1s;
}

input [type="range"]:hover {
    background-color: #000;
}

.chart_option:checked ~ label {
    background-color: var(--pallet_B_color_1);
    color: var(--pallet_A_color_2);
}
.terminal {
    height: 100%;
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.react-terminal {
    /* Estilos específicos para o componente TerminalUI */
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical quando necessário */
    overflow-x: auto; /* Oculta a barra de rolagem horizontal */
    font-size: smaller;
}

.react-terminal::-webkit-scrollbar {
    width: 6px; /* Largura da barra de rolagem */
    height: 6px;
}

.react-terminal::-webkit-scrollbar-thumb {
    background-color: #888; /* Cor do indicador da barra de rolagem */
    border-radius: 6px; /* Borda arredondada do indicador da barra de rolagem */
}

.react-terminal::-webkit-scrollbar-track {
    background-color: #252a33; /* Cor de fundo da barra de rolagem */
}

.terminal-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: transparent;
    color: #000;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin: 5px 5px 5px 5px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button.selected {
    /* Adicione estilos para o botão selecionado aqui */
    background-color: #ddd;
    /* Outros estilos desejados */
}

.item-hidden {
    position: absolute;
    visibility: hidden;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
}
